*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-width: 320px;
    overflow-x: hidden;
}

:root{
    --bs--main:rgb(247, 226, 207);
    --bs--bg:rgb(108, 2, 2);
}

@import './style/header.scss';
@import './style/main.scss';
@import './style/home.scss';
@import './style/about.scss';
@import './style/menu.scss';
@import './style/where.scss';
@import './style/footer.scss';
@import './style/mixin.scss';